.TodoSearch{
    background: #F9FBFC;
    border-radius: 10px;
    border: 1px solid #202329;
    display: flex;
    margin: 0 auto 24px auto;
    height: 64px;
    width: 400px;
    padding: 8px;
    font-size: 24px;
    text-align: center;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
}

.TodoSearch::placeholder{
    color: black;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
}

.TodoSearch:focus{
    outline-color: #61DAFA;
}

@media (max-width: 600px){
    .TodoSearch{
        width: 300px;
    }
}