.TodoItem{
    background-color: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px auto 0 auto;
    border-radius: 4px;
    width: 90%;
    position: relative;
}
.TodoItem-p{
    margin: 24px 0 24px 24px;
}
.TodoItem-p--completed{
    text-decoration: line-through;
}

.Icon{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    font-size: 24px;
    font-weight: bold;

}
.Icon-check{
    position: absolute;
    left: 12px;
}
.Icon-check--active{
    color: #4caf50;
}
.Icon-delete{
    position: absolute;
    top: -24px;
    right: 5px;
}
.Icon-delete:hover{
    color: red;
}